In [1]:
a=[1,2,3,4]

In [2]:
type(a)

list

In [3]:
a=1

In [4]:
type(a)

int

In [5]:
a=1.35

In [6]:
type(a)

float

In [16]:
a='13579'

In [17]:
type(a)

str

In [9]:
a={"a":"apple","b":"banana"}

In [10]:
type(a)

dict

In [20]:
a=1,2,3,4
type(a)

tuple

In [21]:
a=(1,2,3,4)
type(a)

tuple

type의 종류 -> list, int(정수), float(소수), str('문자','숫자'), tuple, dict

In [11]:
a=1

In [12]:
print(type(a))

<class 'int'>

In [13]:
a={"a":"apple","b":"banana"}

In [14]:
print(type(a))

<class 'dict'>

In [23]:
a=['love', 'hate']

In [24]:
print(type(a))

<class 'list'>

In [28]:
print(a[1])

hate

In [30]:
a=['love', 'hate', 'like', 'win']

In [31]:
print(a[3])

win

In [32]:
a=[7,8,9]
b=[2,5,10]

In [33]:
a[2]+b[1]

14

In [36]:
a='12'
a=list(a)
print(type(a))

<class 'list'>

In [37]:
a='12'
a=list(a)
print(a)

['1', '2']

In [39]:
a='love'
a=list(a)
print(a)

['l', 'o', 'v', 'e']

In [40]:
a=12.35
a=int(a)
print(a)

12

type을 임의로 변경 가능함 (39,40번)

In [50]:
a=[3,4,5,6]
print(a[1:2])

[4]

list의 범위를 지정해주는 것 ':'

In [51]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]

In [53]:
a='abcdefg'
len(a)

7

len(a) -> a의 길이

In [55]:
a='I am a student'
b=a.find('student')
b

7

a.find(' ') -> 단어가 시작하는 곳의 순서

In [56]:
a='Student is a student is a student'
b=a.rindex('student')
b

26

a.rindex(' ') -> 제일 오른쪽의 단어가 시작하는 곳의 순서

In [62]:
a='abcdefg'
a.upper()

'ABCDEFG'

a.upper() -> 대문자화

In [73]:
a=' He is a student \n '
b=a.strip()
b

'He is a student'

a.strip() -> 양끝의 공백 / \n제거

In [74]:
a='He is a student'
b=a.split()
b

['He', 'is', 'a', 'student']

a.split() -> 문장을 list화

In [79]:
c='  '.join(b)
c

'He  is  a  student'

In [ ]:
' '.join(b) -> split된 것을 다시 문장화

In [82]:
a='He is a student'
b=a.replace('He','She')
b

'She is a student'

a.replace('x','y') -> x를 y로 대체

In [88]:
a=[5,6,7,8]
for b in a:
    print(b)

5
6
7
8

In [89]:
for b in range(2):
    print(b)

0
1

In [90]:
for b in range(2):
    print(a[b])

5
6

In [91]:
a=['x','y','z','w']
for b in range(2):
    print(b)

0
1

In [93]:
a=['x','y','z','w']
for b in range(3):
    print(a[b])

x
y
z

range -> 순서값(0,1,2....)

In [102]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in enumerate(a):
    print(a)

['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']

In [101]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in enumerate(a):
    print(a[x])

red
green
blue
purple

In [96]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in enumerate(a):
    print(a[y])

TypeError: list indices must be integers or slices, not str

In [105]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in enumerate(a):
    print("{}:{}". format(y,b[x]))

red:0.1
green:0.2
blue:0.3
purple:0.4

In [106]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in enumerate(a):
    print("{}:{}%". format(y,b[x]*100))

red:10.0%
green:20.0%
blue:30.0%
purple:40.0%

enumerate 
x -> range값(0,1,2...)
y -> 문자 값 (여기선 'red','green'....)

In [1]:
a = ['red', 'green', 'blue', 'purple']
b = [0.1, 0.2, 0.3, 0.4]
for x,y in zip(a,b):
    print('{}:{}'.format(x,y))

red:0.1
green:0.2
blue:0.3
purple:0.4

zip
-> 자료를 대응시켜주는 역할 (a의 n번째 - b의 n번째)

In [8]:
a=0
if a==0:
    print('b')

b

In [6]:
a=0
if a!=1:
    print('b')

b

부정형 -> !사용

In [10]:
a=0
if a==0:
    print('b')
    print('c')

b
c

In [12]:
a=0
if a!=0:
    print('b')
else:
    print('c')

c

else -> 'if not'의 의미

In [13]:
for a in range(1,4):
    print(a)

1
2
3

In [16]:
for a in range(1, 2):
    print(a)
    for b in range(3, 4):
        print(a*b)

1
3

In [18]:
for a in range (2,5):
    print(a)
    for b in range(3,5):
        print(a*b)

2
6
8
3
9
12
4
12
16

In [19]:
for a in range(1,4):
    for b in range(3,5):
        if b>=4:
            print(a*b)

4
8
12